<!DOCTYPE HTML>
<html ng-app="app">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
      <link rel="stylesheet" href="css/theme.css">
      <link rel="stylesheet" href="css/bootstrap.css">      
      <link rel="stylesheet" href="css/loading-bar.css">
      <script src="lib/onsen/js/angular/angular.js"></script>    
      <script src="lib/onsen/js/onsenui.js"></script>        
      <script src="cordova.js"></script>          
      <script src="lib/lang.js"></script>
      <script src="js/angular-translate.min.js"></script>
      <script src="js/loading-bar.js"></script> 
      <script src="js/config.js"></script>      
      <script src="js/service.js"></script>
      <script src="js/app.js"></script>
      <script src="js/angular-locale_pt-br.js"></script>
   </head>
   <body>
      <ons-navigator var="navi" page=home.html>
      </ons-navigator>
       
       
       
       <ons-template id="home.html">
            <ons-page ng-controller="homeCtrl">
            
              <ons-toolbar>
                <div class="left"><ons-back-button ng-show="navi.pages.length > 1">Voltar</ons-back-button></div>
                <div class="center">Guia da cidade</div>
                <div class="right">
                    <ons-toolbar-button ng-show="navi.pages.length == 1" ng-click="verifyNewVersion();"><ons-icon icon="ion-gear-a" style="vertical-align: -4px; font-size: 28px;"></ons-icon></ons-toolbar-button>
                </div>
              </ons-toolbar>

              <ons-row ng-show="!menus">            
                <ons-col>
                    <div>Não há menu ou subcategoria aqui!</div>  
                </ons-col>
            </ons-row>    
                
              <ons-list ng-show="menus">                
                <ons-list-item ng-repeat="menu in menus" modifier="chevron" class="list-item-container" ng-click="destination(menu)">
                  <ons-row>            
                    <ons-col>
                      <div class="name" ng-bind="menu.nome"></div>
                    </ons-col>
                    <ons-col width="40px"></ons-col>
                  </ons-row>
                </ons-list-item>
              </ons-list>
            </ons-page>
        
       </ons-template>
           
           
        <ons-template id="interna.html" >        
            <ons-page ng-controller="internaCtrl">
                <ons-toolbar>
                    <div class="left"><ons-back-button>Voltar</ons-back-button></div>
                    <div class="center" ng-bind="details.titulo"></div>                    
                </ons-toolbar>

                <section style="padding: 10px;">
                    <h2 class="title" ng-bind="details.titulo"></h2>                
                    <p class="feed-content" ng-bind="details.resumo"></p>  
                    <p class="feed-content" ng-bind="details.texto"></p>  
                    <p><img src="http://54.94.226.70/{{details.logomarcar}}" /></p>
                    <p ng-bind="details.telefone"></p>
                    <p ng-bind="details.telefone2"></p>
                    <p ng-bind="details.celular"></p>
                    <p ng-bind="details.coordenadas"></p>
                    <p ng-bind="details.data_inicio | date:'dd/MM/yyyy'"></p>
                    <p ng-bind="details.data_fim | date:'dd/MM/yyyy'"></p>
                    <p ng-bind="details.preco"></p>
                    <p ng-bind="details.local"></p>                    
                </section>                            

            </ons-page> 
        </ons-template>           
           
   </body>
</html>